body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FFFFFF ;
}

header {
    background-color: #525A43;
    color: #FFFFFF;
    text-align: center;
    padding: 0%;
    width: 100%;
}

.menu {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em;
    height: 50px;
    text-align: center;
    margin: auto;
    border-radius: 1px;
    border: 1px #525a4352 solid;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    margin: 0 0.5em;
}

/* Dropdown Button */
.dropbtn {
    background-color: #EFD18B;
    color: #000000;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #B19353;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(245, 240, 240);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:#f8d1c769;border-radius: 10px;}

  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #B19353;}

section {
    padding: 2em;
}

article {
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

iframe {
    display: flex;
    border-radius: 5px;
    background-color: #ddd;
    margin: auto;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.61);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    margin: auto;
}

h1, h2,h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    background-color: #FFFFFF;
    color: #A5A5A5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.gallery {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.peru, .brasil {
    display: flex;
    justify-content: center;
    margin: auto;
}

#peru {
    background-color: #EFD18B;
    padding-top: 0%;
    margin: auto;
    height: 30px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
}

footer {
    background-color: #525A43;
    color: #FFFFFF;
    text-align: center;
    padding: 0em;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    margin: auto;
}

.redes ul {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #525A43;
    padding: 3px;
    border: 3px;
}

#rights {
    align-items: center;
    color:#FFFFFF;
    background-color: #525A43;
    padding: 4px auto;
    margin: 30px auto;
    border: 2px;
    width: 100%;
    font-size: 20px;
}

.rights {
    margin: auto;
}

